* {
    margin: 0;
    font-size: 14px;
    font-family: "Figtree", sans-serif;
}

header {
    background-color: rgb(171, 169, 163);
    display: flex;
    justify-content: space-between;
}

.headline {
    display: flex;
    align-items: baseline;
    padding: 36px 36px;
}

.glasses {
    height: 28px;
    object-fit: contain;
}

body {
    background-color: rgb(233, 231, 225);
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 24px;
    padding: 12px 8px;
    text-align: center;
    min-height: 54px;
}

h3 {
    padding: 0 6px;
}

.bottom-shelf {
    position: relative;
    bottom: 10px;
}

.book-shelf {
    height: 100vh;
    position: sticky;
    top: 0px;
}

.shelf-width {
    width: 160px;
}

section {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 24px;
    box-shadow: inset 0 0 50px rgb(52, 52, 52), 0 0 50px rgb(52, 52, 52);
}

.book-outlay {
    height: 460px;
    width: 300px;
    background-color: rgb(8, 67, 8);
    border: 1px black solid;
    border-radius: 10% 0 0 5%;
    color: white;
    margin: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-content {
    background: #005c02;
    background: linear-gradient(90deg, rgba(0, 46, 0, 1) 0%, rgba(0, 92, 2, 1) 100%);
    border-left: 2px white solid;
    border-radius: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    flex-grow: 1;
}

.book-content-no-comments {
    max-height: 320px;
    display: flex;
    flex-direction: column;

}

.book-icon {
    height: 64px;
    object-fit: contain;
    border-radius: 10%;
}

.price-and-likes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    box-sizing: border-box;
}

.likes {
    display: flex;
    align-items: center;
}

.heart {
    color: red;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2.5;
    border-radius: 50%;
}

.heart path:hover {
    stroke: currentColor;
    cursor: pointer;
}

.heart-darkred {
    color: darkred;
    stroke: darkred;
}

.heart-filling {
    fill: currentColor;
}

.book-content table {
    padding: 4px 4px;
}

.book-info {
    font-size: 14px;
}

.comments {
    max-height: 130px;
    overflow-y: auto;
}

.comments p {
    padding: 6px;
    color: lightgray;
}

.comments td {
    vertical-align: top;
    font-size: 12px;
    color: lightgray;
}

.comments b {
    font-size: 12px;
    color: lightgray;
}

.pages {
    height: 36px;
    background-color: white;
    font-size: 14px;
    width: 100%;
    border: rgb(4, 39, 4) 3px solid;
    border-right: none;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    box-sizing: border-box;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-input {
    flex-grow: 1;
    border: none;
    height: 28px;
    border-radius: 20px 0 0 20px;
    margin-left: 0;
    margin-right: 8px;
}

.send-icon {
    height: 14px;
    object-fit: contain;
}

.send-icon:hover {
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-image: url(./assets/background/woodfloor.png);
}

.footer-content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    color: white;

}

.footer-content img {
    height: 32px;
    object-fit: contain;
    padding: 12px;
}

.footer-content p {
    color: black;
}

.developer-academy {
    display: flex;
    align-items: center;
}

.developer-academy span {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 1760px) {
    .book-shelf {
        width: calc(50% - 720px);
    }

    .top-shelf {
        width: calc(50% - 720px);
    }

    .bottom-shelf {
        width: calc(50% - 720px);
    }
}

@media(max-width:750px) {

    .shelf-width {
        display: none;
    }

    .footer-content {
        width: 100%;
        align-items: center;
    }

    header {
        justify-content: center;
    }
}

@media(max-width:450px) {
    .content {
        padding: 0 0;
    }

    .book-outlay {
        width: 290px;
    }

    .comments {
        height: 125px;
    }

}