* {
    margin: 0;
    font-size: 16px;
}

header {
    background-color: rgb(171, 169, 163);
    display: flex;
    justify-content: space-between;
}

.headline {
    display: flex;
    align-items: baseline;
    padding: 36px 36px;
}

.glasses {
    height: 36px;
    object-fit: contain;
    /* padding: 0 6px; */
}

body {
    background-color: rgb(233, 231, 225);
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 24px;
    padding: 12px 8px;
    text-align: center;
    min-height: 54px;
}

h3 {
    padding: 0 6px;
}

.top-shelf {
    width: 160px;
}

.bottom-shelf {
    width: 160px;
    position: relative;
    bottom: 10px;
}

section {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 24px;
    box-shadow: inset 0 0 50px rgb(52, 52, 52), 0 0 50px rgb(52, 52, 52);
}

.book-outlay {
    height: 450px;
    width: 300px;
    background-color: rgb(8, 67, 8);
    border: 1px black solid;
    border-radius: 10% 0 0 5%;
    color: white;
    margin: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-content {
    background: #005c02;
    background: linear-gradient(90deg, rgba(0, 46, 0, 1) 0%, rgba(0, 92, 2, 1) 100%);
    border-left: 2px white solid;
    border-radius: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    flex-grow: 1;
}

.book-icon {
    height: 64px;
    object-fit: contain;
    /* padding: 16px; */
    border-radius: 10%;
    /* background-color: #FFC900; */
}

.price-and-likes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    box-sizing: border-box;
}

.likes {
    display: flex;
    align-items: center;
}

.likes img {
    background-color: lightblue;
    border-radius: 50%;
    margin: 0 8px;
}

.book-content table {
    padding: 4px 4px;
}

.book-info{
    font-size: 14px;
}

.comments {
    height: 140px;
    overflow-y: auto;
}

.comments p{
    padding: 6px;
    color: lightgray;
}

.comments td{
    vertical-align: top;
    font-size: 12px;
    color: lightgray;
}

.comments b{
    font-size: 12px;
    color: lightgray;
}

.pages {
    height: 36px;
    background-color: white;
    width: 100%;
    border: rgb(4, 39, 4) 3px solid;
    border-right: none;
    border-radius: 20px 0 0 20px;
    padding: 3px;
    box-sizing: border-box;
    bottom: 0px;
}

.book-shelf {
    width: 160px;
    height: 100vh;
    position: sticky;
    top: 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-image: url(./assets/background/woodfloor.png);
}

@media (min-width: 1760px) {
    .book-shelf {
        width: calc(50% - 720px);
    }

    .top-shelf {
        width: calc(50% - 720px);
    }

    .bottom-shelf {
        width: calc(50% - 720px);
    }
}